* {

    margin: 0;
    padding: 0%;


}
body {

    background-color: beige;
}

.item{

    width: 100px;
    height: 100px;
    background-color: purple;
    margin-top: 10px;

}
.couteudo {

    display:grid;
    grid-template-columns: 6% 6% 6% 6%;
    justify-content: center;
    align-items: center;

}
.menu {

    height: 10vh;
    background-color: rgb(252, 0, 244);
    grid-area: menu;
   
}

.lado
{
    height: 80vh;
    background-color: rgb(8, 0, 255);
    grid-area:lado ;

}

.principal {

    height: 60vh;
    background-color: rgb(207, 51, 51);
}

.rodape{

    height: 30vh;
    background-color: rgb(255, 0, 238);
    grid-area: rodape;
}
 
.meu-site {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    
    grid-template-areas:
    "menu menu menu"
    "lado principal principal"
    "rodape rodape rodape";
}

